<article class="card post-card {{post_class}} {{#unless feature_image}}no-image{{else}}{{#is "home"}}{{#has index="nth:6"}}post-card-large{{/has}}{{/is}}{{/unless}}">
    {{#if feature_image}}
        <div class="post-card-image">
            <a class="post-card-image-link" href="{{url}}">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img class="post-card-image"
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(max-width: 1000px) 400px, 700px"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{title}}"
                />
            </a>
        </div>
    {{/if}}

    <div class="card-content">
        <a href="{{url}}">
            <div class="media">
                <header class="media-content">
                    <p class="title is-size-4">{{title}}</p>
                    {{#if primary_tag}}
                        <p class="subtitle is-size-6 has-text-uppercase has-text-grey">{{primary_tag.name}}</p>
                    {{/if}}
                </header>
            </div>
            <section class="content">
                <p>{{excerpt words="33"}}</p>
            </section>
        </a>

        <footer class="content">
            <p class="reading-time has-text-uppercase has-text-grey-light is-size-6">{{reading_time}}</p>
        </footer>
    </div>{{!--/.post-card-content--}}
</article>
