<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/site.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{^is "home"}}
        <footer class="footer is-size-7">
            <div class="container">
                <div class="columns">
                    <nav class="column content">
                        <h5>Free Resources</h5>
                        <ul>
                            {{#if @labs.subscribers}}
                                <li><a href="/newsletter/">Newsletter</a></li>
                            {{/if}}
                            <li><a href="https://freedevopscourse.com" title="DevOps Intro" target="_blank" rel="noopener">DevOps Intro</a><li>
                            <li><a href="https://productsoverprojects.com" title="Projects over Products" target="_blank" rel="noopener">Products Over Projects</a><li>
                            <li><a href="/toyota-kata" title="The Toyota Kata" target="_blank" rel="noopener">The Toyota Kata</a><li>
                            <li><a href="/tag/book-review/">The Bookshelf</a></li>
                            <li><a href="/blog/" title="Articles">Articles</a></li>
                            <li><a href="/tag/resources/" title="Tutorials">Tutorials</a><li>
                            <li>Making Work Visible Course (Coming Soon)<li>
                        </ul>
                    </nav>
                    <nav class="column content">
                        <h5>Paid Services</h5>
                        <ul>
                            <li><a href="/call">1-on-1 Consultation</a></li>
                            <li><a href="/writing">Technical Writing</a></li>
                        </ul>
                    </nav>

                    <nav class="column content">
                        <h5>Extras</h5>
                        <ul>
                            <li><a href="/standing-invitation/">Standing Invitation</a><li>
                            {{#if @blog.twitter}}
                                <li><a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">Twitter</a><li>
                            {{/if}}
                            <li><a href="https://github.com/ahawkins" title="Github" target="_blank" rel="noopener">Github</a></li>
                            <li><a href="https://www.linkedin.com/in/adam-hawkins-53109b14b/" title="LinkedIn" target="_blank" rel="noopener">LinkedIn</a></li>
                            <li><a href="https://speakerdeck.com/ahawkins" title="SpeakerDeck" target="_blank" rel="noopener">SpeakerDeck</a></li>
                            <li>{{@blog.title}}</a> &copy; {{date format="YYYY"}}</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    {{/is}}

    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>


    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{asset "built/jquery.fitvids.js"}}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
          // Check for click events on the navbar burger icon
          $(".navbar-burger").click(function() {
              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              $(".navbar-burger").toggleClass("is-active");
              $(".navbar-menu").toggleClass("is-active");
          });

          $(".form-subscribe input").attr('required', true);
        });
    </script>

    {{#if pagination.pages}}
    <script src="{{asset "built/infinitescroll.js"}}"></script>
    {{/if}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
