{{!--
This error template is used for all 400/500 errors, except 404, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
You'll notice that we *don't* use any JavsScript, or ghost_head / ghost_foot in this file.
--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/site.css"}}" />
</head>
<body class="error-template">
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{@blog.url}}">{{@blog.title}}</a>
            </div>
        </div>
    </nav>

    <main class="hero is-light hero-error">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">{{code}}</h1>
                <h2 class="subtitle">{{message}}</h2>
                <p><a class="error-link" href="{{@blog.url}}">Go to the front page →</a></p>
            </div>
        </div>
    </main>

    {{#if errorDetails}}
        <aside class="section">
            <div class="container">
                <div class="content">
                    <h3>Theme Errors</h3>
                    <ul>
                        {{#each errorDetails}}
                            <li>
                                <em class="error-stack-function">{{{rule}}}</em>
                                {{#each failures}}
                                    <p>Ref: {{ref}}</p>
                                    <p>Message: {{message}}</p>
                                {{/each}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </aside>
    {{/if}}
</body>
</html>
